In [1]:
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import matplotlib.pyplot as plt
import h5py

import pandas as pd
import pprint

import pymongo
from pymongo import MongoClient

import requests

import databroker
from databroker import list_configs
from databroker import Broker

# make graphics inline
%matplotlib inline

## Databroker Configuration

In [2]:
db = Broker.named('csx')
db.ES.keys()

dict_keys(['mds', 'arch_acc', 'arch_csx'])

## Accessing Archiver Event Sources

CSX Archiver Event Source

In [3]:
arch_csx  = db.ES['arch_csx']
print(arch_csx.name, arch_csx.get_pvs())

arch_csx {}

Accelerator Archiver Event Source

In [4]:
arch_acc = db.ES['arch_acc']
print(arch_acc.name, arch_acc.get_pvs())

arch_acc {}

Adding PV

In [5]:
arch_csx.add_pvs({'pv1':'XF:23ID-ID{BPM}Val:PosXS-I'})
print(arch_csx.name, arch_csx.get_pvs())

arch_csx {'pv1': 'XF:23ID-ID{BPM}Val:PosXS-I'}

In [6]:
arch_acc.add_pvs({'pv2': 'UT:SB1-Cu:1{}T:Prmry-I'})
print(arch_acc.name, arch_acc.get_pvs())

arch_acc {'pv2': 'UT:SB1-Cu:1{}T:Prmry-I'}

## Data Retrieval based on the Databroker Interface

In [7]:
# select header
hdr = db[69209]

In [8]:
# check stream names
db.stream_names_given_header(hdr)

['baseline', 'primary', 'pv2', 'pv1']

In [9]:
# get table for selected pv
stream_name = 'pv1'
df = hdr.table(stream_name)
len(df)

660

In [10]:
df.head()

                              time       pv1
seq_num
1       2016-10-06 21:54:28.966371  0.004190
2       2016-10-06 21:54:29.066417  0.004188
3       2016-10-06 21:54:29.166479  0.004192
4       2016-10-06 21:54:29.266535  0.004192
5       2016-10-06 21:54:29.366593  0.004202

In [11]:
# get table for selected pv
stream_name = 'pv2'
df = hdr.table(stream_name)
len(df)

3

In [12]:
df.head()

                              time   pv2
seq_num
1       2016-10-06 21:53:57.425835  80.3
2       2016-10-06 21:55:07.431820  80.4
3       2016-10-06 21:55:09.427219  80.3