An example of fetching archived data using the ArchiverEventSource interface

In [1]:
from datetime import datetime

import numpy as np
import matplotlib.pyplot as plt
import h5py

import pandas as pd
import pprint

import pymongo
from pymongo import MongoClient

import requests

import databroker
from databroker import list_configs
from databroker import Broker

# make graphics inline
%matplotlib inline

from archiver import ArchiverEventSource

## Databroker Header

In [2]:
db = Broker.named('hxn_new')
header = db[-2]
header['start']['uid']

'dff0dab0-08ed-478d-b041-d38891430b24'

## Archiver Event Source

In [3]:
url = 'http://xf07bm-ca1.cs.nsls2.local:17668/'
timezone = 'US/Eastern'
pvs = {"PV1" : "XF:07BMA-VA{Diag:1-IP:1}I-I", 
       "PV2" : "FE:C07B-OP{Mir:Col-TC:4}T-I"}
es = ArchiverEventSource(url, timezone, pvs)

### stream_names_given_header

In [4]:
stream_names = es.stream_names_given_header(header)
print(stream_names)

['archiver_PV1', 'archiver_PV2']

### fields_given_header

In [5]:
fset = es.fields_given_header(header)
fields = list(fset)
print(len(fields), fields[0], fields[1])

2 PV1 PV2

### descriptors_given_header

In [6]:
descriptors = es.descriptors_given_header(header)
len(descriptors)

2

In [7]:
print(descriptors[0])

{'external_query': {'to': '2018-04-20T02:33:57-04:00', 'from': '2018-04-20T02:13:19-04:00', 'pv': 'XF:07BMA-VA{Diag:1-IP:1}I-I'}, 'run_start': 'dff0dab0-08ed-478d-b041-d38891430b24', 'external_url': 'http://xf07bm-ca1.cs.nsls2.local:17668/', 'time': 1524204799.9761238, 'data_keys': {'PV1': {'dtype': 'number', 'shape': [], 'source': 'XF:07BMA-VA{Diag:1-IP:1}I-I'}}, 'uid': 'empheral-4f154eff-2c8f-4e8c-a511-fe87053dd06c'}

In [8]:
print(descriptors[1])

{'external_query': {'to': '2018-04-20T02:33:57-04:00', 'from': '2018-04-20T02:13:19-04:00', 'pv': 'FE:C07B-OP{Mir:Col-TC:4}T-I'}, 'run_start': 'dff0dab0-08ed-478d-b041-d38891430b24', 'external_url': 'http://xf07bm-ca1.cs.nsls2.local:17668/', 'time': 1524204799.9761238, 'data_keys': {'PV2': {'dtype': 'number', 'shape': [], 'source': 'FE:C07B-OP{Mir:Col-TC:4}T-I'}}, 'uid': 'empheral-384e0873-e708-4489-b35d-4549cf3966c2'}

### docs_given_header

In [9]:
gen_es = es.docs_given_header(header)
names_es = []
docs_es = []
for name, doc in gen_es:
    names_es.append(name)
    docs_es.append(doc)
print(len(names_es), len(docs_es))

736 736

In [10]:
# descriptor
docs_es[1]

{'data_keys': {'PV1': {'dtype': 'number',
   'shape': [],
   'source': 'XF:07BMA-VA{Diag:1-IP:1}I-I'}},
 'external_query': {'from': '2018-04-20T02:13:19-04:00',
  'pv': 'XF:07BMA-VA{Diag:1-IP:1}I-I',
  'to': '2018-04-20T02:33:57-04:00'},
 'external_url': 'http://xf07bm-ca1.cs.nsls2.local:17668/',
 'run_start': 'dff0dab0-08ed-478d-b041-d38891430b24',
 'time': 1524204799.9761238,
 'uid': 'empheral-4f154eff-2c8f-4e8c-a511-fe87053dd06c'}

In [11]:
# event
docs_es[3]

{'data': {'PV1': 1.2e-06},
 'descriptor': 'empheral-4f154eff-2c8f-4e8c-a511-fe87053dd06c',
 'seq_num': 1,
 'time': 1524204800,
 'timestamps': {'PV1': 1524204800},
 'uid': 'ephemeral-7892bdc8-5cf4-496a-b0e2-726a6fd15101'}

### table_given_header

In [12]:
df = es.table_given_header(header)

In [13]:
df

                   time      PV1   PV2
1   2018-04-20 06:13:17  1.1e-06
2   2018-04-20 06:13:18           29.4
3   2018-04-20 06:13:19           29.5
4   2018-04-20 06:13:20  1.2e-06  29.4
5   2018-04-20 06:13:21  1.1e-06
6   2018-04-20 06:13:24           29.5
7   2018-04-20 06:13:25           29.4
8   2018-04-20 06:13:26  1.2e-06
9   2018-04-20 06:13:27  1.1e-06
10  2018-04-20 06:13:28           29.3
11  2018-04-20 06:13:29  1.2e-06  29.4
12  2018-04-20 06:13:31  1.1e-06
13  2018-04-20 06:13:33  1.2e-06
14  2018-04-20 06:13:35           29.3
15  2018-04-20 06:13:36           29.4
16  2018-04-20 06:13:38  1.1e-06
17  2018-04-20 06:13:39  1.2e-06
18  2018-04-20 06:13:41  1.1e-06
19  2018-04-20 06:13:42  1.2e-06
20  2018-04-20 06:13:43           29.3
21  2018-04-20 06:13:44  1.1e-06  29.4
22  2018-04-20 06:13:45           29.3
23  2018-04-20 06:13:46  1.2e-06  29.4
24  2018-04-20 06:13:47  1.1e-06
25  2018-04-20 06:13:48  1.2e-06
26  2018-04-20 06:13:49  1.1e-06
27  2018-04-20 06:13:51           29.3
28  2018-04-20 06:13:52           29.4
29  2018-04-20 06:13:53           29.5
30  2018-04-20 06:13:54           29.4
..                  ...      ...   ...
596 2018-04-20 06:32:28           29.4
597 2018-04-20 06:32:33  1.2e-06
598 2018-04-20 06:32:35  1.1e-06
599 2018-04-20 06:32:53           29.5
600 2018-04-20 06:32:54           29.4
601 2018-04-20 06:32:56           29.3
602 2018-04-20 06:32:57           29.4
603 2018-04-20 06:33:07           29.3
604 2018-04-20 06:33:08           29.4
605 2018-04-20 06:33:16           29.3
606 2018-04-20 06:33:17           29.4
607 2018-04-20 06:33:18           29.5
608 2018-04-20 06:33:19           29.4
609 2018-04-20 06:33:21           29.3
610 2018-04-20 06:33:22           29.4
611 2018-04-20 06:33:25           29.5
612 2018-04-20 06:33:26           29.4
613 2018-04-20 06:33:30    1e-06
614 2018-04-20 06:33:31  1.1e-06
615 2018-04-20 06:33:40           29.5
616 2018-04-20 06:33:41    1e-06
617 2018-04-20 06:33:42  1.1e-06  29.4
618 2018-04-20 06:33:44    1e-06
619 2018-04-20 06:33:45  1.1e-06
620 2018-04-20 06:33:48    1e-06
621 2018-04-20 06:33:49           29.5
622 2018-04-20 06:33:50  1.1e-06  29.4
623 2018-04-20 06:33:53           29.3
624 2018-04-20 06:33:54    1e-06  29.4
625 2018-04-20 06:33:56  1.1e-06

[625 rows x 3 columns]